*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body {
    height: 100vh;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

#bulb{
    aspect-ratio: 1;
    height: 30vh;
    border: 2px solid #000;
    border-radius: 50%;

}
button{
    padding: 1vh 4vw;
    border: none;
    background: cyan;
}