*{
    margin: 0;
    padding: 0;


}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px ;
    height: 100px;
    width: 500px;
    background: yellow;
}
#btn{
    color: #fff;
    padding: .2rem;
    background: darkcyan;
    border-radius: 10px;
    cursor: pointer;
}
#btn:hover{
    transform: scale(1.1);
    box-shadow:  0 0 5px cyan,0 0 10px cyan,0 0 100px cyan;
}