* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
}

.box {
    height: 30vh;
    width: 30vw;
    border: 2px solid black;
    color: black;
    font-size: 4vw;
    color: rgb(0, 0, 0);

}